<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Route</title>
</head>
<body>
    <center>
    <h1>Hello from Router Get Home</h1>
    <h2>Login</h2>
    <form action="http://localhost:5001/api/v1/login" method="post">
        <input type="email" name="email" placeholder="Enter Your Email"><br>
        <input type="password" name="password" placeholder="Enter Your Password"><br><br>
        <button type="submit">Login</button>
    </form>
</center>
</body>
</html>