/* Chat.css */
* {
    margin: 0;
    padding: 0;
    background-color: #343541;
}

/* User message style */
.message.user {
    background-color: #e2f0cb;
    width: 50%;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-end;
}
  
/* AI message style */
.message.ai {
    background-color: #cfe2f3;
    margin: 5px 20px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
}
  
/* Messages container style */
.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

/* Input container style */
.input-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid gray;
    background-color: #1e1e2b;
}

.input-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #2d2d3b;
    color: white;
}

.input-container button {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #1F2937; 
}
