#btn2::after {
    content: '';
    height: 3px;
    width: 0;
    background: cyan;
    position: absolute;
    left: 550px;
    transition: 0.5s;
    top: 55%;
}

#btn2:hover::after {
    width:100px;
}

@media (max-width: 600px) {
    #btn2::after {
        width: 0;
    }

    #btn2:hover::after {
        width: 0; 
    }
}
