body {
  background-color: #444654;
  color: aqua;
  font-family: 'PT Sans', sans-serif;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

#box {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  width: 800px;
  height: 550px;
  color: cyan;
  border-radius: 5px;
  box-shadow: 5px 5px 5px aqua;
  margin-top: 20px;
}

.note {
  padding: 3px;
  position: absolute;
  top: 0;

}

