.form{
    border: 2px solid white;
    border-radius: 5px;
    width: 40rem;
    height: 13rem;
    top: -80px;
    position: relative;
}

.inputs{
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding: 10px;
    color: white;
}
input{
    border: 1px solid white;
    text-decoration: none;
    height: 40px;
    border-radius: 5px;
}
.form-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin: 5px;
    color: white;
    margin-right: 100px;
}
.btn{
    font-weight: 700;
    border-radius: 5px;
}
.btn:hover{
    background-color: brown;
    color: white;
}